.App {
  text-align: center;
}

.ControlsHolder {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Controls {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 12px;
  border-radius: 4px;
}

.NumberOfColors {
  width: 100px;
  margin-left: 12px;
}

.Generator {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.Color {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ColorText {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 12px;
}
